canvas{
    width: 100% !important;
    height: 100% !important;
}
.space{
    background-color: rgb(233, 233, 233);
    width: 15%;
    height: 70%;
    position: absolute;
    right: 1px;
    z-index: 1;
    border-radius: 15px;
    text-align: center;
    padding-top: 1%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
